body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skip{
    padding:10px;
}

nav li{
    border: 3px solid pink;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 15%;
}

ul .active{
    background-color: pink;
    text-transform: uppercase;
    border-color: lightskyblue;
}

h1{
    text-align: center;
    font-size: 24;
    margin:10px
}

h2{
    text-align: center;
    font-size: 20;
}


img{
    width: 200px;
    padding: 5px;
    border: 5px solid lightpink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img:nth-child(2n){
    border: 5px solid lightskyblue;
}

img:hover{
    box-shadow: 10px 10px lightskyblue;
}

img:hover:nth-child(2n){
    box-shadow: 10px 10px lightpink;

}

footer{
    margin: 10px;
    padding:10px;
    background-color:lightskyblue;
    text-align: center;
}